<h1>All Teams</h1>
	<% if @current_user %>
	<%= link_to "Create a Team", new_user_team_path(@current_user.id) %>
	<% end %>
<% @teams.each do |team| %>
<%= team.name %>
<%= team.description %>
<%= team.superhero %>
	<% if current_user %>
	<%= link_to "Edit #{team.name} team", edit_team_path(@current_user.id) %>
	<% end %>
<% end %>
