<h1><%= @team.name %></h1>
<div>
	<h3><%= @team.description %></h3>
	<h4>Superhero Team Members</h4>
	<div>
	<p><% @team.superheros.each do |hero|%>
		<%= hero.name %> stands at <%= hero.height %> inches tall. <%= hero.bio %>
		<%= image_tag(hero.image_url, height: '100') %>

	</p>
	<%end %>
	</div>
	<% if current_user.is_admin %>
	<%= link_to "Create Superhero", new_superhero_path, class:"btn btn-success" %>
	<% end %>
	<%= link_to "Edit #{@team.name} team", edit_team_path(@team.user), class:"btn btn-warning" %>
	<%= link_to "Delete #{@team.name} team", method: :destroy, class:"btn btn-danger" %>

</div>
