<h1>Signup for an Account</h1>
<%= form_for(@user, url: signup_path) do |f|%>
  <p>
  <%= f.label "Username" %>
    <%= f.text_field :username, autofocus: true %>
  </p>
  <p>  
  <%= f.label "Password" %>
    <%= f.text_field :password, required: true %>
  </p>
  <p>
    <%= f.submit "Signup", class: "btn btn-primary" %>
  </p>
    <%= link_to "Have an account already? Log in here", login_path %>
<% end %>

