<!DOCTYPE html>
<html>
<head>
  <title>SuperheroesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class= "container">
<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-notice" %>
  <% end %>
<% end %>
<% if current_user %>
<p>Signed in as <%= current_user.username %></p>
<% end %>
<nav class="navbar navbar-default">
<div class="container fluid"></div>
<ul class="nav navbar-nav">

<% if current_user %>

<li> <%= link_to "Logout", logout_path, method: :delete, class:"btn btn-danger"%></li>
<% else %>
 <li> <%= link_to 'Login', '/login' %> </li>
 <li><%= link_to 'Signup', signup_path, class:"btn btn-primary" %></li>
<% end %>
<li><%= link_to "See all Teams", root_path, class:"btn btn-info" %></li>
<li><%= link_to "See all Superheroes", superheros_path, class:"btn btn-primary" %></li>

</ul>
</div>
</nav>
<%= yield %>

</body>
</html>
